<div class="jumbotronParent positionRelative" id="jumbotronParent"
data-mp4="/assets/videos/espresso-bg.mp4"
data-webm="/assets/videos/espresso-bg.webm">
  <div class="customRow top">
    <div class="posContainer">
      <h1>Espresso</h1>
      <p>Clone // Install // Code</p>

      <div class="meta customRow">
        <!-- intro text -->
        <span class="goto">Go To Github and Get Started</span>

        <!-- link and icon -->
        <div class="clearfix"></div>
        <img src="/assets/icons/command-line-icon.gif" class="img-responsive cmdIcon" alt="Espresso Machine" title="Order Your Espresso Boiler Plate!"/>
        <a href="https://github.com/sricharankrishnan/espresso-express-boilerplate" class="githubLink">sricharankrishnan/<br/>espresso-express-boilerplate</a>
        <div class="clearfix"></div>

        <!-- shields -->
        <img src="https://img.shields.io/github/stars/sricharankrishnan/espresso-express-boilerplate?style=social" class="shield"/>
        <img src="https://img.shields.io/github/forks/sricharankrishnan/espresso-express-boilerplate?style=social" class="shield"/>
        <img src="https://img.shields.io/github/v/release/sricharankrishnan/espresso-express-boilerplate?style=social" class="shield"/>
      </div>
    </div>
    <div class="aboutContainer hidden-xs">
      <span>Espresso - Express Boiler Plate (open source) is a scaffold built with ExpressJS to help developers get a quick start in building web application and web apis. The boiler plates comes with certain predefined NPM Packages and a structured approach to building applications.</span>
    </div>
  </div>
</div>
