<div class="jumbotronParent positionRelative" id="jumbotronParent"
data-mp4="/assets/videos/404-bg.webm"
data-webm="/assets/videos/404-bg.webm">
  <div class="customRow top">
    <div class="posContainer">
      <h1>404 - Page <br class="hidden-xs"/>Not Found</h1>
      <p>Oh Shit! This is very embarassing.</p>

      <div class="meta customRow">
        <!-- intro text -->
        <span class="goto">Something is wrong!</span>

        <!-- link and icon -->
        <div class="clearfix"></div>
        <img src="/assets/icons/command-line-icon.gif" class="img-responsive cmdIcon" alt="Espresso Machine" title="Order Your Espresso Boiler Plate!"/>
        <a href="/" class="githubLink">Back to <br/>Home Page</a>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="aboutContainer hidden-xs">
      <span>The link/page that you are looking for or followed, is either outdated, inaccurate or the server has been instructed not to let you have it!</span>
    </div>
  </div>
</div>
